.button {
  border: none;
  color: grey;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  margin: 5px;
}
.button:hover {
  background-color: whitesmoke;
}
.button:active {
  background-color: grey;
  color: white;
}
.hide {
  display: none;
}
.show {
}
