
.header {
    grid-area:  h;
    color: #f6f1f1;
    background-color: coral;
    border-radius:  3px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.item a {
    color: whitesmoke;
    text-decoration: none;
}
.item a:hover {
    color: rgb(250, 237, 164);
}
.item a.activ {
    color:gold;
}
