ul li::marker {
  color: rgb(170, 170, 170);
  font-size: 1em;
}

ul li {
  margin: 3px 40px;
}

ul li:nth-child(2n) {
  background-color: rgb(238, 238, 238);
}
ul li:hover {
  background-color: rgb(223, 223, 223);
}

li {
  list-style-type: none;
}
.flex {
  display: flex;
}
.ceil {
  margin: 5px 25px;
}
