.image {
  width: 150px;
}
.post {
  display: flex;
  background-color: aliceblue;
  padding: 10px;
}
.person {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 40px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 5px;
}
.button {
  color: blue;
  font-weight: 600;
  border: none;
  background-color: aliceblue;
}
.button:active {
  color: rgb(85, 87, 88);
}
.name {
  color: blue;
  font-weight: 600;
}
.location {
  color: gray;
  margin-left: 15px;
}
.text {
  font-size: 1.1em;
  font-weight: 600;
  margin: 15px 40px;
  display: flex;
}
